################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/AhorcadoConsoleApplication/.vs/AhorcadoConsoleApplication/FileContentIndex
/AhorcadoConsoleApplication/.vs/AhorcadoConsoleApplication/v17/Browse.VC.db
/AhorcadoConsoleApplication/.vs/AhorcadoConsoleApplication/v17/ipch/AutoPCH/424f773b1b794b27
/AhorcadoConsoleApplication/.vs/AhorcadoConsoleApplication/v17
/CalculatorConsoleApplication/.vs/CalculatorConsoleApplication/FileContentIndex
/CalculatorConsoleApplication/.vs/CalculatorConsoleApplication/v17/ipch/AutoPCH/eabf9f1d1538b8e3
/CalculatorConsoleApplication/.vs/CalculatorConsoleApplication/v17/TestStore/0
/CalculatorConsoleApplication/.vs/CalculatorConsoleApplication/v17/.suo
/CalculatorConsoleApplication/.vs/CalculatorConsoleApplication/v17/Browse.VC.db
/TrivialConsoleApplication/.vs/TrivialConsoleApplication/FileContentIndex
/TrivialConsoleApplication/.vs/TrivialConsoleApplication/v17/ipch/AutoPCH/376efea7b15dc2a8
*.db
/TrivialConsoleApplication/.vs/TrivialConsoleApplication/v17
/TrivialConsoleApplication/.vs
/AhorcadoConsoleApplication/.vs/AhorcadoConsoleApplication/v17/.suo
