################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/CalculatorConsoleApplication/.vs/CalculatorConsoleApplication/v17/TestStore/0/testlog.manifest
*.opendb
*.db-wal
*.db-shm
/CalculatorConsoleApplication/.vs/CalculatorConsoleApplication/v17/Browse.VC.db
*.testlog
*.ipch
*.vsidx
/CalculatorConsoleApplication/.vs/CalculatorConsoleApplication/FileContentIndex/9ba9f832-6c2d-489e-b263-ca5313e8b0a8.vsidx
